/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
.footer{
  margin-top: 35px;
  padding: 0;
  height: 50px;
  background-color: white;
  border: none;

  .container{
    color: #5B2004;
    height: 100%;

    ul{
      height: 100%;
      margin: 0;
      line-height: 50px;

      li{
        display: inline-block;
        list-style-type: none;
        margin-right: 30px;
      }

    }
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
