<div ng-include="'components/navbar/navbar.html'"></div>
<div class="small-banner"><img ng-src="../assets/images/small-banner.jpg"/></div>

<div class="container">
    <div class="header-container col-lg-12">
      <h1 class="page-header">Latest whisky</h1>
      <!-- Hier moet er nog een component van gemaatk worden -->
      <div class="whisky-overview  col-lg-3 col-md-3 col-sm-4 col-xs-6"
      ng-repeat="whisky in whiskys | orderBy: '-releasedate'">
        <div class="inner-content">
          <div class="image-container">
            <img ng-src="{{whisky.image}}"/>
          </div>
          <div class="text-container">
            <h2><a ui-sref="whiskyDetail({id:whisky._id})">{{whisky.name}}</a></h2>
            <h3 ng-show="whisky.rating"><uib-rating ng-model="whisky.rating" max="5" readonly="true"></uib-rating> - ({{whisky.comments.length}}
              {{whisky.comments.length == 1 ? "rating" : "ratings"}})</h3>
          </div>
        </div>
      </div>
    </div>
</div>
