.back-button{
  margin-left: auto;
  margin-right: auto;
}

.whisky-detail-container{
  padding-left: 0;
  padding-right: 0;
  background-color: white;
  margin-top: 70px;

  .image-container {
    text-align: center;

    img{
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: 310px;
    }
  }
}

.detail-container{
  .left-column{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.whisky-notes-container{
  padding-left: 0;
  padding-right: 0;
}
