<div ng-include="'components/navbar/navbar.html'"></div>
<div class="small-banner"><img ng-src="../assets/images/small-banner.jpg"/></div>

<div class="container">
  <h2 class="back-button"><< Back</h2>
</div>

<div class="container whisky-detail-container">
  <div class="whisky-detail">
    <div class="detail-container">
      <div class="left-column col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="image-container">
          <img ng-src="{{whisky.image}}"/>
        </div>
      </div>
      <div class="right-column col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="text-container">
          <h2>{{whisky.name}}</h2>
          <h6>{{whisky.color}}</h6>
          <h6>{{whisky.rating}}</h6>
          <h6>{{whisky.targetprice}}</h6>
          <h6>{{whisky.region}}</h6>
          <h6>{{whisky.targetprice}}</h6>
          <h6>{{whisky.releasedate}}</h6>
          <h6>{{whisky.description}}</h6>
          <h6>{{whisky.years}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container whisky-notes-container">
  <div class="notes-container">
    <div class="left-column col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="text-container">
        <h2>Tasting notes</h2>
        <h6>{{whisky.nose}}</h6>
        <h6>{{whisky.taste}}</h6>
      </div>
    </div>
    </div>
    <div class="right-column col-lg-8 col-md-8 col-sm-8 col-xs-8 comments-container">
      <div class="formcontainer">
        <form ng-submit="addcomment(comment)">
          <input type="text" ng-model="comment.title" placeholder="Title" /><br />
          <input type="text" ng-model="comment.rating" placeholder="Rating"/><br />
          <input type="text" ng-model="comment.body" placeholder="Review"/><br />
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="reviews">
        <div ng-repeat="review in whisky.comments">
          {{review.title}}<br/>
          {{review.rating}}<br/>
          {{review.body}}
        </div>
      </div>
    </div>
</div>
</div>
